proxmox_api = {
  endpoint = "https://PROXMOX_HOST:8006/"
  username = "root@pam"
  password = "CHANGEME"
  insecure = false
}

root_password = "CHANGEME"
root_public_key      = "ssh-ed25519 AAAA... user@host"
